<div>
    <div style="margin-left: 0px;">
        <div class="row">
            <div
                    class="col-9 col-md-8 small-padding"
            >
                <div class="info">
                                                    <span class="badge rounded-pill bg-primary"
                                                          title="24小时">
                                                        100%
                                                    </span>
                    ces
                </div>
            </div>
            <div class="col-3 col-md-4">
                <div
                        class="wrap"
                        style="padding: 4px 1.25px; width: 100%;"
                >
                    <div
                            class="hp-bar-big"
                            style="transform: translateX(0px);"
                    >
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat empty"
                                title=""
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                        <div
                                class="beat"
                                title="2024-06-17 10:36:33 - 200 - OK"
                                style="width: 5px; height: 16px; margin: 2px; --hover-scale: 1.5;"
                        ></div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>
