


<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection">
    <title>监控</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://cdn.staticfile.org/font-logos/0.17/font-logos.min.css" type="text/css"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/semantic-ui-alerts.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css?v2022042314">
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg?v20210804" />
</head>
<body>


<div class="ui large top fixed menu nb-menu">
    <div class="ui container">
        <a class="item" href="/">
            <img src="/static/logo.svg?v20210804">
        </a>

        <a class='item active' href="/"><i class="home icon"></i>首页</a>
        <a class='item' href="/status.html"><i class="rss icon"></i>状态</a>

        <div class="right menu">
            <div class="item">

                <div class="ui simple dropdown">
                    <div class="text">
                        <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/74449531?v=4"> imblowsnow
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">

                        <a class="item" href="/server">
                            <i class="terminal icon"></i>管理后台
                        </a>

                        <button class="item" onclick="showConfirm('确认注销？','注销后您必须重新登录才能使用',logout, 74449531 )">
                            <i class="logout icon"></i>注销登录
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="ui mini confirm modal transition hidden">
    <div class="header"></div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui negative button">取消</div>
        <button class="ui positive nezha-primary-btn right labeled icon button">确认<i class="checkmark icon"></i>
        </button>
    </div>
</div>


<div class="nb-container">
    <div class="ui container">
        <div id="app">
            <div class="ui styled fluid accordion" v-for="group in groups">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    {{(group!==''?group:'默认')}}
                </div>
                <div class="active content">
                    <div class="ui four stackable status cards">
                        <div v-for="server in servers" :id="server.id" class="ui card" v-if="server.group === group">
                            <div class="content" v-if="server.info" style="margin-top: 10px; padding-bottom: 5px">
                                <div class="header">
                                    <i :class="server.country_code + ' flag'"></i>&nbsp;

                                    <i v-if='server.info.platform == "darwin"' class="apple icon"></i>
                                    <i v-else-if='isWindowsPlatform(server.info.platform)' class="windows icon"></i>
                                    <i v-else :class="'fl-' + getFontLogoClass(server.info.platform)"></i>

                                    {{server.name + (server.live?'':'[已离线]')}}
                                    <i class="nezha-secondary-font info circle icon" style="height: 28px"></i>
                                    <div class="ui content popup" style="margin-bottom: 0">
                                        系统: {{server.info.platform}}-{{server.info.platform_version}}
                                        [<span
                                            v-if="server.info.virtualization">{{server.info.virtualization}}:</span>{{server.info.arch}}]<br />
                                        CPU: {{server.info.cpu}}<br />
                                        硬盘:
                                        {{window.utils.formatByteSize(server.state.disk_used)}}/{{window.utils.formatByteSize(server.info.disk_total)}}<br />
                                        内存:
                                        {{window.utils.formatByteSize(server.state.mem_used)}}/{{window.utils.formatByteSize(server.info.mem_total)}}<br />
                                        交换:
                                        {{window.utils.formatByteSize(server.state.swap_used)}}/{{window.utils.formatByteSize(server.info.swap_total)}}<br />
                                        流量: <i
                                            class="arrow alternate circle down outline icon"></i>{{window.utils.formatByteSize(server.state.net_in_transfer)}}<i
                                            class="arrow alternate circle up outline icon"></i>{{window.utils.formatByteSize(server.state.net_out_transfer)}}<br />
                                        负载: {{ server.state.load1.toFixed(2) }}/{{ server.state.load5.toFixed(2) }}/{{ server.state.load15.toFixed(2) }}<br />
                                        进程数: {{ server.state.process_count }}<br />
                                        连接数: TCP {{ server.state.tcp_conn_count }} / UDP {{ server.state.udp_conn_count }}<br />
                                        启动: {{ window.utils.formatTimestamp(server.info.boot_time) }}<br />
<!--                                        活动: {{ new Date(server.last_active).toLocaleString() }}<br />-->
                                        版本: {{server.info.version}}<br />
                                    </div>
                                    <div class="ui divider" style="margin-bottom: 5px"></div>
                                </div>
                                <div class="description">
                                    <div class="ui grid">
                                        <div class="three wide column">CPU</div>
                                        <div class="thirteen wide column">
                                            <div :class="formatPercent(server.live,server.state.cpu, 100).class">
                                                <div class="bar" :style="formatPercent(server.live,server.state.cpu, 100).style">
                                                    <small>{{formatPercent(server.live,server.state.cpu,100).percent}}%</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three wide column">内存</div>
                                        <div class="thirteen wide column">
                                            <div :class="formatPercent(server.live,server.state.mem_used, server.info.mem_total).class">
                                                <div class="bar"
                                                     :style="formatPercent(server.live,server.state.mem_used, server.info.mem_total).style">
                                                    <small>{{parseInt(server.state?server.state.mem_used/server.info.mem_total*100:0)}}%</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three wide column">交换</div>
                                        <div class="thirteen wide column">
                                            <div :class="formatPercent(server.live,server.state.swap_used, server.info.swap_total).class">
                                                <div class="bar"
                                                     :style="formatPercent(server.live,server.state.swap_used, server.info.swap_total).style">
                                                    <small>{{parseInt(server.state?server.state.swap_used/server.info.swap_total*100:0)}}%</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three wide column">网络</div>
                                        <div class="thirteen wide column">
                                            <i class="arrow alternate circle down outline icon"></i>
                                            {{window.utils.formatByteSize(server.state.net_in_speed)}}/s
                                            <i class="arrow alternate circle up outline icon"></i>
                                            {{window.utils.formatByteSize(server.state.net_out_speed)}}/s
                                        </div>
                                        <div class="three wide column">硬盘</div>
                                        <div class="thirteen wide column">
                                            <div :class="formatPercent(server.live,server.state.disk_used, server.info.disk_total).class">
                                                <div class="bar"
                                                     :style="formatPercent(server.live,server.state.disk_used, server.info.disk_total).style">
                                                    <small>{{parseInt(server.state?server.state.disk_used/server.info.disk_total*100:0)}}%</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="three wide column">在线</div>
                                        <div class="thirteen wide column">
                                            <i class="clock icon"></i>{{window.utils.secondToDate(server.state.uptime)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" v-else>
                                <p>{{server.name}}</p>
                                <p>节点已离线</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        Powered by 监控
        build · v0.14.7
        v0.14.7</small>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="/static/main.js?v20220930"></script>
<script src="/static/utils.js?v20220930"></script>
<script>
    window.onload = function(){
        $('#sun').click();
    }
    var statusCards = new Vue({
        el: '#app',
        // delimiters: ['{{', '}}'],
        data: {
            groups: [],
            servers: [],
            cache: [],
        },
        mounted() {
            this.getGroups()
            this.getServerList()
            this.troggleDarkMode();
        },
        methods: {
            formatPercent(live, used, total) {
                const percent = live ? (parseInt(used / total * 100) || 0) : -1
                if (!this.cache[percent]) {
                    this.cache[percent] = {
                        class: {
                            ui: true,
                            progress: true,
                        },
                        style: {
                            'transition-duration': '300ms',
                            'min-width': 'unset',
                            width: percent + '% !important',
                        },
                        percent,
                    }
                    if (percent < 0) {
                        this.cache[percent].style['background-color'] = 'slategray'
                        this.cache[percent].class.offline = true
                    } else if (percent < 51) {
                        this.cache[percent].style['background-color'] = '#0a94f2'
                        this.cache[percent].class.fine = true
                    } else if (percent < 81) {
                        this.cache[percent].style['background-color'] = 'orange'
                        this.cache[percent].class.warning = true
                    } else {
                        this.cache[percent].style['background-color'] = 'crimson'
                        this.cache[percent].class.error = true
                    }
                }
                return this.cache[percent]
            },
            troggleDarkMode() {
                const hour = new Date(Date.now()).getHours()
                if (hour > 17 || hour < 4) {
                    document.body.classList.add('dark');
                }
            },
            isWindowsPlatform(str) {
                return str.includes('Windows')
            },
            getFontLogoClass(str) {
                if (["almalinux",
                        "alpine",
                        "aosc",
                        "apple",
                        "archlinux",
                        "archlabs",
                        "artix",
                        "budgie",
                        "centos",
                        "coreos",
                        "debian",
                        "deepin",
                        "devuan",
                        "docker",
                        "elementary",
                        "fedora",
                        "ferris",
                        "flathub",
                        "freebsd",
                        "gentoo",
                        "gnu-guix",
                        "illumos",
                        "kali-linux",
                        "linuxmint",
                        "mageia",
                        "mandriva",
                        "manjaro",
                        "nixos",
                        "openbsd",
                        "opensuse",
                        "pop-os",
                        "raspberry-pi",
                        "redhat",
                        "rocky-linux",
                        "sabayon",
                        "slackware",
                        "snappy",
                        "solus",
                        "tux",
                        "ubuntu",
                        "void",
                        "zorin"].indexOf(str)
                    > -1) {
                    return str;
                }
                if (['openwrt','linux'].indexOf(str) > -1) {
                    return 'tux';
                }
                if (str == 'amazon') {
                    return 'redhat';
                }
                if (str == 'arch') {
                    return 'archlinux';
                }
                return '';
            },

            getGroups(){
                fetch("/api/v1/server/groups").then(res => res.json()).then(res => {
                    this.groups = res.data
                })
            },
            getServerList(){
                fetch("/api/v1/server").then(res => res.json()).then(res => {
                    this.servers = res.data
                    this.$nextTick(() => {
                        $('.ui.accordion').accordion({ "exclusive": false });
                        $('.nezha-secondary-font.info.icon').popup({
                            popup: '.ui.content.popup',
                            exclusive: true,
                        });
                    })
                })
            },

            addServer(server){
                let serverIndex = null;
                for (let i = 0; i < this.servers.length; i++) {
                    if (server.id == this.servers[i].id){
                        serverIndex = i
                    }
                }
                if (serverIndex != null){
                    let serverData = {
                        ...this.servers[serverIndex],
                        ...server
                    }
                    this.$set(this.servers, serverIndex, serverData)
                    console.log("addServer", serverIndex, serverData);
                }else{
                    this.servers.push(server)
                }
            },
            offlineServer(serverId){
                let server = this.getServer(serverId);
                server.live = false
            },
            updateServer(serverId,state){
                let server = this.getServer(serverId);
                if (!server) return;
                server.state = state
            },
            getServer(serverId){
                for (const server of this.servers) {
                    if (server.id == serverId){
                        return server;
                    }
                }
                return null;
            }
        }
    })

    console.log(statusCards);


    const wsProtocol = window.location.protocol == "https:" ? "wss" : "ws"
    let canShowError = true;
    function connect() {
        const ws = new WebSocket(wsProtocol + '://' + window.location.host + '/ws/web');
        ws.onopen = function (evt) {
            canShowError = true;
            $.suiAlert({
                title: '实时通道建立',
                description: '可以实时获取最新监控数据啦',
                type: 'success',
                time: '2',
                position: 'top-center',
            });
        }
        ws.onmessage = function (evt) {
            const data = JSON.parse(evt.data)
            // 有服务上线
            if (data.message_type === 2000){
                statusCards.addServer(data.message)
            }else if (data.message_type === 2001){
                // 服务离线
                statusCards.offlineServer(data.message)
            }else if (data.message_type === 2002){
                // 服务离线
                statusCards.updateServer(data.message.id, data.message.state)
            }
        }
        ws.onclose = function () {
            if (canShowError) {
                canShowError = false;
                $.suiAlert({
                    title: '实时通道断开',
                    description: '无法实时获取最新监控数据咯',
                    type: 'warning',
                    time: '2',
                    position: 'top-center',
                });
            }
            setTimeout(function () {
                connect()
            }, 3000);
        }
        ws.onerror = function () {
            ws.close()
        }
    }
    connect()
</script>
</body>

</html>

