


<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection">
    <title>服务状态 - 监控</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://cdn.staticfile.org/font-logos/0.17/font-logos.min.css" type="text/css"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/semantic-ui-alerts.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css?v2022042314">
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg?v20210804" />
</head>

<body>

<script>
    window.onload = function(){
        $('#sun').click();
    }
</script>


<div class="ui large top fixed menu nb-menu">
    <div class="ui container">
        <a class="item" href="/">
            <img src="/static/logo.svg?v20210804">
        </a>

        <a class='item' href="/"><i class="home icon"></i>首页</a>
        <a class='item active' href="/service"><i class="rss icon"></i>服务</a>

        <div class="right menu">
            <div class="item">

                <a href="/login" class="ui large positive nezha-primary-btn button"><i class="sign-in icon"></i>登录</a>

            </div>
        </div>
    </div>
</div>

<div class="ui mini confirm modal transition hidden">
    <div class="header"></div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui negative button">取消</div>
        <button class="ui positive nezha-primary-btn right labeled icon button">确认<i class="checkmark icon"></i>
        </button>
    </div>
</div>


<div class="nb-container" id="app">
    <div class="ui container">
        <div class="service-status">

            <table class="ui celled table">
                <thead>
                <tr>
                    <th class="ui center aligned">名称</th>
                    <th class="ui center aligned">30天在线率</th>
                    <th class="ui center aligned">详情</th>
                    <th class="ui center aligned">状态</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="server in total">
                    <td class="ui center aligned">{{server.name}}</td>
                    <td class="ui center aligned">
                        {{ server.total_online_rate.toFixed(3)}}%
                    </td>
                    <td class="ui center aligned">
                        <div v-for="item in server.items" class="ui icon button" :class="getStatus(item.online ? item.online_rate : null)"
                             :data-tooltip="item.time + '，在线率：' + item.online_rate.toFixed(2) + '%'">
                        </div>
                    </td>
                    <td class="ui center aligned delay-today">
                        <i class="delay-today" :class="getStatus(server.total_online_rate)"></i>
                        <span v-if="getStatus(server.total_online_rate) === 'good'">正常</span>
                        <span v-else-if="getStatus(server.total_online_rate) === 'warning'">异常</span>
                        <span v-else-if="getStatus(server.total_online_rate) === 'danger'">故障</span>
                        <span v-else>无数据</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <b>&copy; <a style="color: white;" href="/">监控</a></b> | <small>Powered by <a
            href="https://github.com/naiba/nezha" style="color: white;" target="_blank">哪吒监控</a>
        v0.14.7</small>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="/static/main.js?v20220930"></script>
<script>
    var app = new Vue({
        el: '#app',
        data(){
            return {
                total: []
            }
        },
        mounted() {
            this.getServerFaultTotal();
        },
        methods: {
            getServerFaultTotal() {
                fetch("/api/v1/server/status").then(res => res.json()).then(res => {
                    let items = [];
                    for (const server of res.data) {
                        server.items = server.items.reverse();
                        items.push(server);
                    }
                    this.total = items
                    console.log(this.total);
                })
            },
            getStatus(value){
                if (value == null) return ''
                if (value >= 90) {
                    return 'good'
                }
                if (value >= 50) {
                    return 'warning'
                }
                return 'danger'
            }
        }
    })
</script>
</body>

</html>

