<nav class="bottom-nav">
    <a href="/dashboard" class="nav-link">
        <div><font-awesome-icon icon="tachometer-alt" /></div>
        Home
    </a>

    <a href="/list" class="nav-link">
        <div><font-awesome-icon icon="list" /></div>
        List
    </a>

    <a href="/add" class="nav-link">
        <div><font-awesome-icon icon="plus" /></div>
        Add
    </a>

    <a href="/settings" class="nav-link">
        <div><font-awesome-icon icon="cog" /></div>
        Settings
    </a>
</nav>
