
.scrollbar{
  overflow-y: auto;
  /*// 滚动条样式优化*/
  scrollbar-width: thin;
}


.btn-normal {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
}

.text-danger {
  color: #dc3545 !important;
}


.table-shadow-box th,.table-shadow-box td{
  background-color: transparent;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #aeeec5;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(92, 221, 139, .25);
}
.form-check-input:checked {
  background-color: #5cdd8b;
  border-color: #5cdd8b;
}
