


.scrollbar{
  overflow-y: auto;
  /*// 滚动条样式优化*/
  scrollbar-width: thin;
}


.btn-normal {
  background-color: #d1d1d1;
  border-color: #d1d1d1;
}

.text-danger {
  color: #dc3545 !important;
}


.table-shadow-box th,.table-shadow-box td{
  background-color: transparent;
}

